<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test Page</title>
  </head>

  <script src="pokemon-go-calculator/js/angular.min.js"></script>
  <script src="pokemon-go-calculator/js/jquery.min.js"></script>
  <script src="pokemon-go-calculator/js/underscore-min.js"></script>
  <script src="pokemon-go-calculator/js/pokeData.js"></script>
  <script src="pokemon-go-calculator/js/goCalc.js"></script>
  <link rel="stylesheet" href="pokemon-go-calculator/css/goStyle.css" media="screen" title="no title" charset="utf-8">
  <body>
    <div class="appBody" ng-app="goCalc" ng-controller="goCalcCtrl" ng-cloak  tabindex="0">
      <input type="text" ng-model="searchTerm" ng-keydown="keyHandler($event)"><button type="button" ng-click="search(searchTerm)">Search</button>
      <button type="button" ng-click="reset()">Reset</button>
      <table>
        <tr>
          <td ng-click="sort('number')">#</td>
          <td ng-click="sort('name')">Name</td>
          <td ng-click="sort('type1')">Type</td>
          <td ng-click="sort('maxCP')">Max CP</td>
          <td ng-click="sort('maxHP')">Max HP</td>
          <td ng-click="sort('baseStamina')">Stam</td>
          <td ng-click="sort('baseAttack')">Atk</td>
          <td ng-click="sort('baseDefense')">Def</td>
          <td ng-click="sort('candyToEvolve')">CTE</td>
          <td>Current CP?</td>
          <td>Evolved CP Range</td>
        </tr>
        <tr ng-repeat="poke in viewing track by $index">
          <td>{{poke.number}}</td>
          <td>{{poke.name | capitalize}}</td>
          <td>{{typing(poke.type1,poke.type2)}}</td>
          <td>{{poke.maxCP}}</td>
          <td>{{poke.maxHP}}</td>
          <td>{{poke.baseStamina}}</td>
          <td>{{poke.baseAttack}}</td>
          <td>{{poke.baseDefense}}</td>
          <td>{{poke.candyToEvolve || ""}}</td>
          <td><input type="text" ng-model="calcData[$index]" ng-show="poke.candyToEvolve"></td>
          <td>{{cpEst(calcData[$index],poke) || ""}}</td>
        </tr>
      </table>
    </div>
  </body>
</html>
