<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test Page</title>
  </head>

  <script src="go-calc/js/angular.min.js"></script>
  <script src="go-calc/js/jquery.min.js"></script>
  <script src="go-calc/js/pokeData.js"></script>
  <script src="go-calc/js/goCalc.js"></script>
  <link rel="stylesheet" href="go-calc/css/goStyle.css" media="screen" title="no title" charset="utf-8">
  <body>
    <div class="appBody" ng-app="goCalc" ng-controller="goCalcCtrl" ng-cloak ng-keydown="keyHandler($event)" tabindex="0">
      <input type="text" ng-model="searchTerm"><button type="button" ng-click="search(searchTerm)">Search</button>
      <button type="button" ng-click="reset()">Reset</button>
      <table>
        <tr>
          <td>Name</td>
          <td>Type</td>
          <td>Type</td>
          <td>Base Stamina</td>
          <td>Base Attack</td>
          <td>Base Defense</td>
          <td>Candy to Evolve</td>
          <td>Current CP?</td>
          <td>Evolved CP Range</td>
        </tr>
        <tr ng-repeat="poke in viewing track by $index">
          <td>{{poke.name | capitalize}}</td>
          <td>{{poke.type1 | capitalize}}</td>
          <td>{{poke.type2 || "" | capitalize}}</td>
          <td>{{poke.stats.baseStamina}}</td>
          <td>{{poke.stats.baseAttack}}</td>
          <td>{{poke.stats.baseDefense}}</td>
          <td>{{poke.candyToEvolve || ""}}</td>
          <td><input type="text" ng-model="calcData[$index]" ng-show="poke.candyToEvolve"></td>
          <td>{{cpEst(calcData[$index],poke.evoMultiplier) || ""}}</td>
        </tr>
      </table>


    </div>
  </body>
</html>
